<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="center jumbotron">
    			<h1>Wow! Academy</h1>

   				<h2>
   				Make your learning fun.
    			</h2>

   				 <%= link_to "Login now", '#', class: "btn btn-lg btn-primary" %>
  			</div>
		</div>
	</div>
</div>