<div class="container" id="home">
	<div class="row">
    			<h1>Wow! Academy</h1>

   				<h2>
   				Make your learning fun.
    			</h2>

   				 <div col-md-12 id="login-buttons">
           <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#teacherLoginModal">Login as teacher</button>
           or
           <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#studentLoginModal">Login as student</button>
           <%=render 'sessions/teacher_login_form'%>
           <%=render 'sessions/student_login_form'%>
           </div>
	</div>
</div>
