<div id="student-<%=student.id%>">
	<%=index+1%>. <%=link_to student.name, student %> <%=(link_to '', sclass_group_remove_group_member_path(@sclass, @group, student),method: 'post', class: 'glyphicon glyphicon-remove') if current_user.class == Teacher%>
</div>