<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Student list', learnings_path, class: (action_name=="index" ? "active-tab" : "" )%></li>
  <li><%= link_to 'Documents', sclass_documents_path(sclass_id: sclass.id), "data-no-turbolink" => true, class: (action_name == "index" ? "active-tab" : "") %></li>
</ul>