<tr>
	<td><%=point.learning.student.name%></td>
	<td><%=point.learning.student.std_id%></td>
	<td><%=text_field_tag "point[#{point.id}[#{point.value}]]", point.value, class: 'form-control'%></td>
	<td><%=text_field_tag "point[#{point.id}[#{point.note}]]", point.note, class: 'form-control' %></td>
</tr>