<tr>
	<td><%=point.student.name%></td>
	<td><%=point.student.std_id%></td>
	<td><%=text_field_tag "point[#{point.id}[val]]", point.value, class: 'form-control'%></td>
	<td><%=text_field_tag "point[#{point.id}[note]]", point.note, class: 'form-control' %></td>
</tr>