<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">discard</a></li>
            <li><%=link_to 'Check for attendances','/rollup' %></li>
            <li><%=link_to 'Assignments','/mini_works' %></li>
            <li><%=link_to 'Classes','/learnings' %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        	<div class="center jumbotron">
    			<h1>Hi, have a nice day!<span class="glyphicon glyphicon-heart"></span></h1>

    			<h2>
      				<font color="black">
                <h1><span class="glyphicon glyphicon-hand-left"></span></h1> Your works on the left!
              </font>
    			</h2>
  			</div>
        </div>
    </div>
</div>
         