<ul class="nav nav-sidebar">
  <li><%=link_to 'Home', root_path %></li>
  <li><%=link_to 'Dashboard', '#' %></li>
  <li><%=link_to 'Time table', '#' %></li>
  <li><%=link_to 'Classes',sclasses_path %></li>
</ul>