
<%= render current_user.class == Teacher ? 'teachers/home_sidebar' : 'students/home_sidebar' %>

<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
      <h1>Các lớp học</h1>
      <table class="table table-hover" style="width:100%" border="1" margin="center">
        <%if current_user.class == Teacher %>
          <tr>
            <td><b>Mã lớp học</b></td>
            <td><b>Học phần</b></td>
            <td><b>Số buổi đã học</b></td>
            <td><b>Công cụ</b></td>
          </tr>
        <%else %>
          <tr>
            <td><b>Mã lớp học</b></td>
            <td><b>Học phần</b></td>
            <td><b>Giảng viên</b></td>
            <td><b>Công cụ</b></td>
          </tr>
        <%end%>
      <% @sclasses.each do |sclass|%>
        <%=render sclass %>
      <% end %>
      </table>
  </div>
  <footer>
  </footer>
</div>